<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.anlu.motel_management">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".MeaageAndUser"></activity>
        <activity android:name=".RoomManage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoSignIn"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".CompleteInfo" />
        <activity android:name=".MainBoard" />
        <activity android:name=".Add_Motel" />
        <activity android:name=".Add_Room" />
    </application>

</manifest>